@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

:root {
    --dark-blue : hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-light-mode: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white : hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 1px solid black; */
}
  
html {
    box-sizing: border-box;
    background-color: var(--very-light-gray);
}

body {
    font-family: 'Nunito Sans';
    font-size: 16px;
}

.icons {
    width: 1.1em;
}

.title-container {
    padding: 1rem 3rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);

}

.theme-container {
    width: 7rem;
    padding: 0.3em;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.search--filter--container {
    margin-top: 2em;
    padding: 1rem 5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-flow: row;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);
}

.form-container button {
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: none;
}

.form-container input {
    width: 20rem;
    border: none;
}

.form-container input:focus {
    outline: none;
}

select {
    width: 15rem;
    height: 3em;
    background-color: var(--white);
    padding: 0.5em;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);
}

select:focus {
    outline: none;
}

.countries {
    width: 90%;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: start;
    align-items: center;

    font-size: 2rem;
    /* opacity: 0; */
    transition: opacity 1s;
}
  
.country {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(112, 112, 112, 0.1);
    font-size: 1.8rem;
    width: 18rem;
    border-radius: 0.7rem;
    overflow: hidden;
}

.country__img {
    min-width: 10rem;
    flex: 350px;
    width: 18rem;
    height: 9rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  
.country__data {
    padding: 1rem 3rem 2rem 3rem;
}
  
.country__name {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}
  
.country__region {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #888;
}

.country__row {
    font-size: 0.8rem;
}
  
.country__row span {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
}

.error {
    max-width: 40rem;
    margin: 0 auto;
    padding: 4rem 3rem;

    display: flex;
    text-align: center;
}

.error p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
}
