@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

/* -------------- GENERAL STYLE -------------*/

:root {
    --dark-blue : hsl(209, 25%, 22%);
    --very-dark-blue: hsl(208, 27%, 14%);
    --very-dark-blue-light-mode: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white : hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    background-color: var(--very-light-gray);
}

body {
    font-family: 'Nunito Sans';
    font-size: 16px;
}

.icons {
    width: 1.3em;
}

/* -------------- HEADER STYLE -------------*/

.title-container {
    max-width: 1441px;
    margin: auto;
    padding: 0.5rem 3rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);
}

.title {
    display: flex;
    align-items: center;
}

.theme-container {
    width: 9rem;
    padding: 0.3em;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

@media (max-width: 470px) {
    .title-container {
        flex-flow: column;
        align-items: center;
    }

    .theme-container {
        margin-top: 0.5rem;
    }
}

/* -------------- SEARCH -/- FILTER STYLE -------------*/

.search--filter--container {
    margin-top: 2em;
    padding: 1rem 5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-flow: row;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);
}

.form-container button {
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: none;
}

.form-container input {
    width: 20rem;
    border: none;
}

.form-container input:focus {
    outline: none;
}

select {
    width: 15rem;
    height: 3em;
    background-color: var(--white);
    padding: 0.5em;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(186, 184, 184);
}

select:focus {
    outline: none;
}

@media (min-width : 1441px) {
    .search--filter--container {
        max-width: 1441px;
        margin: auto;
    }
}

@media(max-width : 769px) {
    .form-container input {
        width: 15rem;
    }

    select {
        width: 11rem;
    }
}

@media (max-width : 627px) {
    .search--filter--container {
        flex-flow: column;
        align-items: center;
    }

    .form-container {
        height: 3rem;
    }
    
    select {
        margin-top: 2rem;
    }
}

/* -------------- COUNTRIES STYLE -------------*/

.countries {
    width: 90%;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    transition: opacity 1s;
}
  
.country {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(112, 112, 112, 0.1);
    font-size: 1.8rem;
    width: 18rem;
    border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
}

.country__img {
    min-width: 10rem;
    flex: 350px;
    width: 18rem;
    height: 9rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.info {
    height: 12rem;
}
  
.country__data {
    padding: 1rem 3rem 2rem 3rem;
}
  
.country__name {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}
  
.country__region {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #888;
}

.country__row {
    font-size: 0.8rem;
}
  
.country__row span {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
}

.country__row__border {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

@media (max-width : 626px) {
    .countries {
        padding: 20px 0;
    }
}

/*--------------- COUNTRY-INFO STYLE --------------*/

.country__info {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(112, 112, 112, 0.1);
    font-size: 1.8rem;
    width: 29rem;
    border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
}

.country__img__info {
    min-width: 10rem;
    flex: 350px;
    width: 29rem;
    height: 15rem;
    object-fit: fill;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

/* -------------- ERROR-MESSAGE STYLE -------------*/

.error {
    max-width: 20rem;
    margin: 0 auto;
    padding: 0 3rem;

    display: block;
    text-align: center;
}

.error p {
    margin-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

.error img {
    width: 12rem;
    height: 12rem;
}

/* --------- CLASSES TO MAKE MODAL WORK ----------*/
  
.close-modal {
    position: absolute;
    top: 8%;
    right: 38%;

    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    border: none;
    background: none;

    z-index: 11;
}

.hidden {
    display: none;
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    padding: 6rem;
    border-radius: 5px;
    z-index: 10;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/*--------------- DARK MODE ---------------------*/

.body__dark {
    background-color: var(--very-dark-blue);
}

.dark__theme {
    color: var(--white);
    background-color: var(--dark-blue);
}

.no-box-shadow {
    box-shadow: none;
}